.imageReport {
    position: absolute;
    top: -5000px;
    width: 1280px;
    height: 1900px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 187, 0);
    padding: 60px 40px;
    overflow: hidden;
    z-index: 50;
    // gap: 30px;

    &::after{
        content: "";
        position: absolute;
        top: 800px;
        left: -1000px;
        width: 1800px;
        height: 1800px;
        background-color: blueviolet;
        border-radius: 50%;
        z-index: 1;
    }

    &::before{
        content: "";
        position: absolute;
        top: 500px;
        left: 1000px;
        width: 1000px;
        height: 1000px;
        background-color: blueviolet;
        border-radius: 50%;
        z-index: 1;
    }

    .titleSection {
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        >div:nth-child(1) {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 70px;
            font-weight: bold;
            color: white;

        }

        >div:nth-child(2) {
            position: relative;
            display: flex;
            justify-content: center;
            font-size: 30px;
            width: max-content;
            padding: 10px 100px;
            background-color: blueviolet;
            border-radius: 50px;
            color: white;
            font-weight: bold;
            z-index: 1000;
            bottom: -30px;
        }
    }

    .info{
        font-size: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
    }

    .reportSection {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 35px;
        font-weight: bold;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        z-index: 2;

        .tabRow {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 15px;

            span {
                display: flex;
                justify-content: center;
            }

            span:nth-child(2) {
                width: 480px;
            }

            span:nth-child(1),
            span:nth-child(3),
            span:nth-child(4),
            span:nth-child(5) {
                width: 200px;
            }

            span:nth-child(5) {
                width: 300px;
            }

            span:nth-child(1) {
                width: 100px;
            }
        }

        .titleTabRow {
            padding-top: 60px;
            padding-bottom: 20px;
            background-color: rgb(255, 255, 255);
            color: blueviolet;
            border-bottom:  1px solid rgb(166, 164, 164);
        }

        .dataTabRow{
            font-weight: normal;
            background-color: rgba(178, 235, 160, 0.609);
            color: rgb(42, 42, 42);

            &.class1{
                background-color: rgba(218, 245, 187, 0.521);
            }

            &.class2{
                background-color: rgba(125, 195, 84, 0.323);
            }
        }

        .totalTabRow {
            padding-bottom: 60px;
            padding-top: 20px;
            color: blueviolet;
            border-top:  1px solid rgb(166, 164, 164);
            background-color: rgb(255, 255, 255);
        }
    }
}