.title {
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    border-left: 3px solid orange;
}

.title2 {
    border: none;
    font-size: 25px;
    padding: 0px;
    margin: 0;
}