.inputBox {
    position: relative;
    width: 100%;

    select {
        text-transform: capitalize;

        >option {
            text-transform: capitalize;
        }
    }

    label {
        position: absolute;
        top: 13px;
        left: 10px;
        font-size: 15px;
        color: gray;
        transition: .2s;

    }

    input,
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid lightgray;
        outline: none;
        border-radius: 3px;
        color: gray;
        background-color: #fff;
        transition: .2s;
        font-size: 15px;

        


        &:hover {
            border-color: gray;
        }

        &:focus {
            border-color: gray;
            padding-left: 14px;
            box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);

        }
    }
}