.error{
    width: 100%;
    background-color: red;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}